<% layout('layouts/boilerplate') %>

<p><a href="/projects">Back to All Projects</a></p>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Details for Project #<%= project[0].project_id %></h2>
                    <% if (currentUser && project[0].project_user_id === currentUser.user_id) { %>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary mx-2 mb-1" href="/projects/<%= id %>/edit">Edit</a>
                        <form action="/projects/<%= id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <p class="me-2">
                                    <span class="fs-5">Project Name</span><br>
                                    <%= project[0].name %>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <span class="fs-5">Description</span><br>
                                    <%= project[0].description %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-7 mb-3">
            <div class="card shadow h-100">
                <div class="card-header">
                    <h2>Tickets for this Project</h2>
                    <% if (currentUser.role !== 'None') { %>
                    <a class="btn btn-primary" href="/projects/<%= id %>/tickets/newticket">Create New Ticket</a>
                    <% } %>
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" id="searchBar" placeholder="Search">
                    <div class="table-responsive">
                        <table id="tickets" class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Submitter</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let ticket of tickets) { if(ticket.ticket_id) {%>
                                <tr>
                                    <td><%= ticket.title %></td>
                                    <td><%= ticket.username %></td>
                                    <td><%= ticket.status %></td>
                                    <td>
                                        <%= new Date(ticket.created_at).toLocaleString() %>
                                    </td>
                                    <td><a href="/projects/<%= id %>/tickets/<%= ticket.ticket_id %>">Details</a></td>
                                </tr>
                                <% }} %>
                            </tbody>
                        </table>
                    </div>

                    <p>Displaying <span id="displayedRows"><%= numTicketRows %></span> of <%= numTicketRows %>
                        results
                        on Page
                        <%= current %></p>

                    <nav aria-label="Ticket Page navigation">
                        <% if (numTicketPages && numTicketPages > 0) { %>
                        <ul class="pagination justify-content-center">
                            <% if (current === 1) { %>
                            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                            <% } else if (userPageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= Number(current) - 1 %>&userpage=<%= userCurrent %>">&laquo;</a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= Number(current) - 1 %>">&laquo;</a></li>
                            <% } %>

                            <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>

                            <% for (; i <= (Number(current) + 4) && i <= numTicketPages; i++) { %>
                            <% if (i === current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else if (userPageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= i %>&userpage=<%= userCurrent %>"><%= i %></a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link" href="/projects/<%= id %>?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i === Number(current) + 4 && i < numTicketPages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% } %>

                            <% if (current === numTicketPages) { %>
                            <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                            <% } else if (userPageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= Number(current) + 1 %>&userpage=<%= userCurrent %>">&raquo;</a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= Number(current) + 1 %>">&raquo;</a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-3">
            <div class="card shadow h-100">
                <div class="card-header">
                    <h2>Assigned Personnel</h2>
                    <% if (currentUser.role === 'Admin' || currentUser.role === 'Manager') { %>
                    <a class="btn btn-primary" href="/projects/<%= id %>/users/addusers">Add Users</a>
                    <% } %>
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" id="searchBar2" placeholder="Search">
                    <div class="table-responsive">
                        <table id="users" class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <% if (currentUser.role === 'Admin' || currentUser.role === 'Manager') { %>
                                    <th scope="col"></th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let user of users) { if(user.user_id) {%>
                                <tr>
                                    <td><%= user.username %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.role %></td>
                                    <% if (currentUser.role === 'Admin' || currentUser.role === 'Manager') { %>
                                    <td>
                                        <form action="/projects/<%= id %>/users/addusers?_method=DELETE" method="POST">
                                            <input type="hidden" name="user_id" id="<%= user.user_id %>"
                                                value="<%= user.user_id %>">
                                            <button class="btn btn-sm btn-danger">Remove</button>
                                        </form>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }} %>
                            </tbody>
                        </table>
                    </div>

                    <p>Displaying <span id="displayedRows"><%= numUserRows %></span> of <%= numUserRows %> results
                        on
                        Page
                        <%= userCurrent %></p>

                    <nav aria-label="User Page navigation">
                        <% if (numUserPages && numUserPages > 0) { %>
                        <ul class="pagination justify-content-center">

                            <% if (userCurrent === 1) { %>
                            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                            <% } else if (pageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= current %>&userpage=<%= Number(userCurrent) - 1 %>">&laquo;</a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?userpage=<%= Number(userCurrent) - 1 %>">&laquo;</a>
                            </li>
                            <% } %>

                            <% let i = (Number(userCurrent) > 5 ? Number(userCurrent) - 4 : 1) %>
                            <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>

                            <% for (; i <= (Number(userCurrent) + 4) && i <= numUserPages; i++) { %>
                            <% if (i === userCurrent) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else if (pageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= current %>&userpage=<%= i %>"><%= i %></a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link" href="/projects/<%= id %>?userpage=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i === Number(userCurrent) + 4 && i < numUserPages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% } %>

                            <% if (userCurrent === numUserPages) { %>
                            <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                            <% } else if (pageQuery) { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?page=<%= current %>&userpage=<%= Number(userCurrent) + 1 %>">&raquo;</a>
                            </li>
                            <% } else { %>
                            <li><a class="page-link"
                                    href="/projects/<%= id %>?userpage=<%= Number(userCurrent) + 1 %>">&raquo;</a>
                            </li>
                            <% } %>

                        </ul>
                        <% } %>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>